# Титаник: прогноз выживания

В этом задании мы будем работать с датасетом `titanic_test.csv`.

In [ ]:
# import pandas
import pandas as pd

In [ ]:
# read the data and show first 5 rows
df  = pd.read_csv('titanic_train.csv', sep = ',')

# Раздел 1. Понимаем и трансформируем данные с Титаника

In [ ]:
# как посмотреть основную информацию про данные?

<div>
<img src="attachment:image.png" width="800"/>
</div>

### Задача 1.1

Разбейте все переменные в датасете на численные, категорийные и ординальные. Запишите их названия (копируя из списка `train_df.columns`) и сохраните в следующем блоке в categorical и ordinal.

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
### TODO

numerical = ['Age', 'SibSp', 'Parch', 'Fare']
categorical = ['Survived', 'Gender']
ordinal = ['Pclass']
not_useful = ['PassengerId', 'Name', 'Ticket', 'Embarked']

### Задача 1.2

Запишите названия переменных, которые не принесут никакой пользы для статистической модели, в список not_useful в следующем блоке. Используя команду `.drop()`, удалите эти переменные из данных.

['PassengerId' 'Survived' 'Pclass' 'Name' 'Gender' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

pandas.core.frame.DataFrame

### Задача 1.3
Меняем гендер в бинарную репрезентацию

   Survived  Pclass  Gender   Age  SibSp  Parch     Fare
0         0       3       0  22.0      1      0   7.2500
1         1       1       1  38.0      1      0  71.2833
2         1       3       1  26.0      0      0   7.9250
3         1       1       1  35.0      1      0  53.1000
4         0       3       0  35.0      0      0   8.0500

### Задача 1.4
Есть ли у нас пропущенные данные?

In [ ]:
### Почему с пропущенными данными невозможно тренировать статистические модели?

Survived      0
Pclass        0
Gender        0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [ ]:
# Замените пропущенные строчки в колонках возраста на среднее значение

In [ ]:
# Проверьте остались ли пропущенные данные
### TODO

Survived    0
Pclass      0
Gender      0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

-----

# Раздел 2. Анализируем данные

In [ ]:
### TODO

# Создаем подразделы данных по классу билета пассажиров

# взять тех у кого Pclass равен 1


# взять тех у кого Pclass равен 2


# взять тех у кого Pclass равен 3

## Покажите какие шансы на выживание в зависимости от класса билета:

In [ ]:
### TODO

1 = 0.6296296296296297
2 = 0.47282608695652173
3 = 0.24236252545824846

## Шансы на выживание в зависимости от возраста:

In [ ]:
### TODO
# ВАШЕ РЕШЕНИЕ

28.54977812177503
30.415099646415896

In [ ]:
# Далее попробуйте:

                Age
Survived
0         30.415100
1         28.549778

## Шансы на выживание в зависимости от ...

In [ ]:
### TODO
# Шансы на выживание в зависимости от пола

0.7420382165605095

In [ ]:
# TODO
# Шансы на выживание в зависимости от количества братьев/сестер/партнеров (SibSp)

In [ ]:
### TODO
# Шансы на выживание в зависимости от количества детей/родителей (Parch) на борту корабля

0.5117370892018779